<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="DiamondsEntities" connectionString="metadata=res://*/edmDiamonds.csdl|res://*/edmDiamonds.ssdl|res://*/edmDiamonds.msl;provider=System.Data.SqlClient;provider connection string=&quot;
         data source=LAPTOP-K0DAE1I1\SQLEXPRESS01;initial catalog=Diamonds2;user id=sa;password=Sa147852369;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DiamondsCardsControlFrm.Properties.Settings.DiamondsConnectionString" connectionString="Data Source=LAPTOP-K0DAE1I1\SQLEXPRESS01;Initial Catalog=Diamonds2;User ID=sa;Password=Sa147852369" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  
  <!--<connectionStrings>
    <add name="DiamondsEntities" connectionString="metadata=res://*/edmDiamonds.csdl|res://*/edmDiamonds.ssdl|res://*/edmDiamonds.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.66;initial catalog=Diamonds;user id=sa;password=Sa147852369;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DiamondsCardsControlFrm.Properties.Settings.DiamondsConnectionString"
      connectionString="Data Source=192.168.2.66;Initial Catalog=Diamonds;User ID=sa;Password=Sa147852369"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
    <!--<connectionStrings>
    <add name="DiamondsEntities" connectionString="metadata=res://*/edmDiamonds.csdl|res://*/edmDiamonds.ssdl|res://*/edmDiamonds.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.88.115;initial catalog=Diamonds;user id=sa;password=Sa147852369;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DiamondsCardsControlFrm.Properties.Settings.DiamondsConnectionString"
      connectionString="Data Source=192.168.88.115;Initial Catalog=Diamonds;User ID=sa;Password=Sa147852369"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
